
body {
    font-family:  'Georgia', serif;
    margin: 0;
    padding: 0;
    
    background-color: #f4f1e6; /* sanftes Beige */
    color: #5b4636;

}
header {
    
    background-color: #8b5e3c; /* warmes Braun */
    color: #fff8e7; /* helles Pergamentweiß */
    text-align: center;
    padding: 1.5rem;
    font-size: 1.8rem;
    letter-spacing: 1px;
}



.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    width: 100%;
    position: sticky;
    top: 0;
    background-color: #fff8e7;
    box-shadow: 0 10px 20px rgba(0,0,0,0.5);
    backdrop-filter: blur(10px);
    z-index: 999;
}

.navbar-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0 2rem;
    max-width: 1600px;
}

.navbar-logo {
    font-size: 2rem;
    font-weight: 600;
    color: #8b5e3c;
    text-decoration: none;
    cursor: pointer;
}

.navbar-logo:hover {
    color: #fff8e7;
    background-color: #8b5e3c;
    text-decoration: none;
    font-weight: bold;
    transition: all 0.3s ease;
}


.navbar-container .navbar-menu {
    display: flex;
    text-align: center;
    gap: 1.5rem;
    list-style: none;
}

.navbar-container .navbar-menu li a {
    text-decoration: none;
    color: #8b5e3c;
    font-size: 1.3rem;
    font-weight: 500;
    padding: 3px 20px;
    border-radius: 20px;
    border: 2px solid transparent;
    transition: all 0.7s ease;
    white-space: nowrap;
}

.navbar-container .navbar-menu li a:hover {
    color: #f4f1e6;
    background: rgba(193, 154, 107, 0.8);
    border: 2px solid #8b5e3c; ;
} 

.navbar-toggle {
    display: none;
    background: transparent;
    padding: 10px;
    border: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    background: #8b5e3c;
    transition: all 0.3s ease-in-out;
}

@media (max-width: 880px) {
    .navbar {
        backdrop-filter: none;
    }

    .navbar-container .navbar-menu {
        flex-direction: column;
        align-items: flex-start;
        gap: 1.7rem !important;
        position: absolute;
        height: 100vh;
        width: 250px;
        top: 0;
        right: 0;
        padding: 5rem 1.5rem;
        box-shadow: 0 10px 10px rgba(0,0,0,0.5);
        backdrop-filter: blur(10px);
    }

    .navbar-toggle {

        display: block;
        z-index: 999;
    }
}
/*nav {
    display: flex;
    justify-content: center;
    background-color: #c19a6b; 
    flex-wrap: wrap;
}
nav a {
    color: #fff8e7;
    text-decoration: none;
    padding: 1rem 1.5rem;
    font-weight: bold;
    transition: background 0.3s ease;
}
nav a:hover {
    background-color: #8b5e3c;
}
*/

h2 {
    text-align: center;
}


/* Hauptbereich mit Pergament-Stil */
main {
    max-width: 700px;
    margin: 2rem auto;
    padding: 4rem;
    background: #fdf6e3 url('bilder/pergament.jpg') repeat; /* Pergament-Hintergrund */
    font-family: 'Georgia', serif;
    color: #5b4636;
    border: 1px solid #d2b48c; /* feiner Rahmen */
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.2);
    font-size: 18px;
    line-height: 2.0;
}
img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-top: 1rem;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.angebot, .links-container, .einfuehrung {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    justify-content: space-between;
    align-items: center;
}


.angebot-item, .link-item, .einfuehrung-item {
    width: 280px;
    min-height: 480px;
    text-align: center;
    border: 1px solid #d2b48c;
    border-radius: 8px;
    padding: 1rem;
    background-color: #fff8e7;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);

}
.angebot-item img, .link-item img, .einfuehrung-item  img {
    width: 100%;
    height: auto;
    border-radius: 6px;
    margin-bottom: 0.5rem;
}
.angebot-item p, .link-item p, .einfuehrung-item p {
    color: #8b5e3c;
    font-weight: bold;
    text-decoration: none;
}
.angebot-item:hover, .link-item:hover, .einfuehrung-item:hover {
    transition: all 0.3 ease;
    box-shadow: 5px 5px 5px #8b5e3c;
    transition: all 0.3s ease;
    
}

.link {
   text-decoration: none;
    color: inherit;
    display: block; 
}


.extra-abstand {
    margin-bottom: 6rem; /* zusätzlicher Abstand nur unter diesem Absatz */
}

.weniger-abstand {
    margin-bottom: 6px;
}


footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 1rem;
    background-color: #8b5e3c;
    color: #fff8e7;
    margin-top: 2rem;
    font-size: 0.9rem;

}

